@font-face {
   font-family: 'Share'; 
   src: url('../assets/fonts/share.ttf') format('truetype')
}

@font-face {
   font-family: 'Atlantida'; 
   src: url('../assets/fonts/Atlantida.ttf') format('truetype')
}

@font-face {
   font-family: 'Hemera'; 
   src: url('../assets/fonts/hemera_ii-webfont.ttf') format('truetype')
}

@font-face {
   font-family: 'Voyager'; 
   src: url('../assets/fonts/Voyager\ Grotesque\(regular\).ttf') format('truetype')
}

@font-face {
   font-family: 'Big Noodle Titling'; 
   src: url('../assets/fonts/big_noodle_titling.ttf') format('truetype')
}

@font-face {
   font-family: 'Roboto Condensed'; 
   src: url('../assets/fonts/roboto-condensed.ttf') format('truetype')
}

@font-face {
   font-family: 'Hotel De Paris'; 
   src: url('../assets/fonts/hotel_de_paris.ttf') format('truetype')
}

html,
body {
  height: 100%;
}

:root {
  --blurple: #7289DA;
  --greyple: #99AAB5;
  --dark: #2C2F33;
  --not-black: #23272A;
  --green: #43b581;
  --fade-green: #4da87f;
  --yellow: #faa61a;
  --fade-yellow: #a58348;
  --red: #f04747;
  --fade-red: #bd5a5a;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  overflow: hidden;
  background: #111;
  font-family: "Share", sans-serif;
  font-size: 2.7vh;
  color: #ccc;
  line-height: normal;
}

* {
 -webkit-user-drag: none;
 box-sizing: border-box;
}

img,
.logo {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

::selection {
  background: var(--greyple);
  color: white;
}

/* ============= header =============== */

#header {
  position: fixed;
  top: 6vh;
  width: 100%;
  height: 4vw;
  left: 0;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1), transparent);
}

.texture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  mask: url(../assets/concrete-texture.png);
  -webkit-mask: url(../assets/concrete-texture.png);
  opacity: .5;
}

.logo {
  position: absolute;
  top: 50%;
  left: 4vw;
  height: 8vw;
  width: 10vw;
  transform: translateY(-50%)
}

.logo.ghost {
  background: url(../assets/logo-outline.png) center/100% no-repeat;
}

.logo.home {
  cursor: pointer;
}

.logo.home::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../assets/main-logo.png) center/100% no-repeat;
  opacity: 0;
  pointer-events: none;
  transition: all .5s ease-in-out;
}

.logo.home:hover::after {
  opacity: 1;
}

.headerBar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15vw;
  width: 84vw;
}

.headerBar * {
  margin: 0 .5vw;
}

.headerBar span {
  color: #ccc;
  font-family: "Atlantida", sans-serif;
  padding: .5vh 1vh;
  font-size: 2.5vw;
}


/* ========= footer =========== */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5vh;
  background: #222;
  padding: 1vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-family: "Hemera", serif;
  font-size: 2.9vh;
  text-transform: lowercase;
}

.copyrighted-badge {
  position: relative;
  height: 25px;
}

.copyrighted-badge img {
  height: 100% !important;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.flex.row {
  flex-flow: row wrap;
}

.unset-style {
  cursor: pointer;
}

.button {
  color: #ccc;
  font-family: "Atlantida", sans-serif;
  padding: .5vh 1vh;
  font-size: 2.5vw;
  border-radius: .5vh;
  transition: all .2s ease-in-out;
  text-decoration: none;
  background: linear-gradient(rgba(204, 204, 204, .8), transparent 50%) bottom/100% 250%;
}

.button:hover {
  background-position: top;
  color: #111;
}

.scrollerWrap {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.scrollerWrap.notLoaded {
  opacity: 0;
  pointer-events: none;
}

#content {
  position: absolute;
  overflow: hidden;
  top: 18vh;
  height: 77vh;
  width: 100%;
}

.scroller {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100% + 1.7vw);
  overflow-y: scroll;
}

.body .scroller {
  padding: 5vh 10vw;
}

img.thineLogo {
  margin-left: 50% !important;
  margin-bottom: 3vh;
  transform: translate(-50%);
  height: auto;
  width: 20vw;
}

h1.header {
  font-family: "Hemera", cursive;
  font-size: 3vw;
  color: #ddd;
  margin: 0;
  text-transform: lowercase;
  padding: 1vh 2vw 2vh 2vw;
  border-top: .2vh solid currentColor;
  border-bottom: .2vh solid currentColor;
  width: fit-content;
  margin-left: 50%;
  transform: translateX(-50%);
}

.emph {
  font-family: "Hotel de Paris", cursive;
  text-decoration: none;
}

.noteEmph {
  font-family: "Big Noodle Titling", cursive;
  font-size: 120%;
  line-height: 100%;
}

.body .scroller>*:not(.header):not(.flexBox) {
  margin-left: 12vw;
  margin-right: 12vw;
}

.blurple {
  color: var(--blurple);
}

.greyple {
  color: var(--greyple);
}

.green {
  color: var(--green)
}

.fGreen {
  color: var(--fade-green)
}

.yellow {
  color: var(--yellow)
}

.fYellow {
  color: var(--fade-yellow);
}

.red {
  color: var(--red);
}

.fRed {
  color: var(--fade-red);
}

h2 {
  padding-left: 3vw;
  font-family: "Voyager", sans-serif;
  font-size: 1.5vw;
  color: var(--greyple);
  text-transform: uppercase;
}

h2.feedback {
  padding: 0; 
  text-align: center; 
  font-family: "Hemera", sans-serif; 
  text-transform: lowercase;
  font-size: 2vw;
}

ul.bullet {
  list-style-type: disc;
  padding-left: 3vw;
}

ul li {
  margin-bottom: 2vh;
}

ul.inner {
  padding-left: 3vw;
  list-style-type: circle;
}

ol {
  list-style: none;
  padding-left: 4vw;
}

ol li {
  counter-increment: item;
  margin-bottom: 2vh;
}

ol li::before {
  content: '0'counter(item) '. ';
  font-weight: bolder;
  color: var(--blurple);
}

ol li:nth-of-type(n+10)::before {
  content: counter(item) '. '
}


/* ============ gallery & gallery overlay ================= */
.flexBox {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.item {
  height: 12vw;
  width: 19vw;
  margin: 2vh 0 !important;
  border: .5vw solid var(--not-black);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* ==================== gallery overlay ======================== */
#gallOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  animation: fadeIn 200ms ease-in-out forwards;
  z-index: 1;
}

#gallExit {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.8);
}

#gallOverlay .flexBox {
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.prev {
  height: 100%;
  width: 10vw;
  background: transparent url(https://ellexidecodes.github.io/Profile-Codes/assets/back.svg) center/3vw no-repeat;
  transition: all .2s ease-in-out;
  z-index: 20
}

.next {
  height: 100%;
  width: 10vw;
  background: transparent url(https://ellexidecodes.github.io/Profile-Codes/assets/next.svg) center/3vw no-repeat;
  transition: all .2s ease-in-out;
  z-index: 20
}

.prev:hover,
.next:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3)
}

#gallOverlay img {
  z-index: 20;
  border: .5vw solid var(--greyple);
  border-radius: 1vh;
  align-self: center;
  max-height: 90vh;
  max-width: 70vw;
}

.imageHolder {
  position: relative;
  align-self: center;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  border-radius: 1vh;
}

.imageHolder img {
  z-index: unset;
  top: 0;
  left: 0;
}

.imageHolder .source {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: .5vw solid var(--greyple);
  border-radius: 1vh;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
  opacity: 0;
}

.imageHolder .source:hover {
  opacity: 1;
}

.source span {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 4vh;
}

/* =========== tooltips ============== */
#tooltips {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}

.tooltip {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
  box-sizing: border-box;
  color: white;
  text-align: center;
  contain: layout;
  width: fit-content;
  max-width: 25vw;
  padding: .2vw .8vw;
  position: absolute;
  word-wrap: break-word;
  z-index: 1002;
  background-color: var(--fade-red);
}

.tooltip.bottom {
  text-transform: uppercase;
  margin-top: .5vw;
  transform: translate(-50%, 0);
  animation: fadeFromBottom .2s ease-in-out;
}

.tooltip.right {
  margin-left: .5vw;
  transform: translate(0, -50%);
  animation: fadeFromRight .2s ease-in-out;
}

.tooltip.top {
  text-transform: uppercase;
  margin-top: -.5vw;
  transform: translate(-50%, -100%);
  animation: fadeFromTop .2s ease-in-out;
}

.tooltip:after {
  border: .5vw solid transparent;
  content: " ";
  height: 0;
  pointer-events: none;
  width: 0;
  position: absolute;
}

.tooltip.bottom::after {
  left: 50%;
  margin-left: -.5vw;
  top: 0;
  transform: translateY(-100%);
  border-bottom-color: var(--fade-red);
}

.tooltip.right::after {
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  border-right-color: var(--fade-red);
}

.tooltip.top::after {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  border-top-color: var(--fade-red);
}

@keyframes fadeFromBottom {
  from {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
}

@keyframes fadeFromRight {
  from {
    opacity: 0;
    transform: translate(50%, -50%);
  }
}

@keyframes fadeFromTop {
  from {
    opacity: 0;
    transform: translate(-50%, -200%);
  }
}

/* =============== code overlay =================== */

#code {
  position: absolute;
  top: 53%;
  left: 50%;
  height: 80vh;
  width: 80vw;
  background: #222;
  border-radius: 1vh;
  border: 1px solid var(--dark);
  box-shadow: 0 2vh 4vh rgba(0,0,0,0.4);
  transform: translate(-50%, -50%);
  animation: fall 1s cubic-bezier(.4, 0, 0, 1.2) forwards;
  z-index: 1;
}

@keyframes fall {
  from {
    transform: translate(-50%, -170%);
  }
}

#code .exit {
  position: absolute;
  top: 1vw;
  right: 1vw;
  height: 1.5vw;
  width: 1.5vw;
  background: url(https://monstrousdev.github.io/themes/assets/svgs/cancel.svg) center/100% no-repeat;
  filter: invert(30%);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

#code .exit:hover {
  filter: invert(60%);
}

#code .scrollerWrap {
  position: absolute;
  top: 3vw;
  left: 3vw;
  right: 3vw;
  bottom: 3vw;
  height: unset;
  width: unset;
  overflow: hidden;
  display: block;
  background: rgba(0,0,0,.1);
  box-shadow: inset 0vh 1vh 2vh rgba(0,0,0,0.4);
}

#code .scroller {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% + 1.7vw);
  padding: 0;
  white-space: pre;
}

#code textarea {
  background: transparent;
  border: transparent;
  outline: none;
  height: 100%;
  width: calc(100% + 1vw);
  padding: 5vh;
  font-family: monospace;
  font-size: 2.1vh;
  resize: none;
  color: #ddd;
}

#code .choices {
  position: absolute;
  bottom: 1.5vh;
  width: fit-content;
  display: flex;
  flex-flow: row wrap;
  left: 50%;
  transform: translateX(-50%);
}

#code .choice {
  color: var(--blurple);
  transition: all .2s ease-in-out;
  align-self: center;
  margin: 0 2vh;
  cursor: pointer;
}

#code .choice:hover {
  color: var(--greyple);
}

/* =============== fonts ==================== */
#fonts textarea {
  background: rgba(0, 0, 0, 0.3);
  border: #999;
  outline: none;
  height: 5vh;
  width: 55vw;
  padding: 1vh;
  font-family: monospace;
  resize: none;
  overflow: hidden;
  text-align: center;
  font-size: 2.1vh;
  color: #ddd;
}

.fontContainer {
  position: relative;
  height: 23vw;
  width: 25vw;
  margin: 1vw 0;
  padding: 2vw;
  border-top: .2vh solid var(--greyple);
}

.fontName {
  height: 5vw;
  width: 100%;
  text-align: center;
  font-family: "Big Noodle Titling", sans-serif;
  font-size: 3vw;
  color: var(--fade-red);
  line-height: 2vw;
  white-space: nowrap;
}

.fontName span {
  font-size: 2.5vh;
  color: #ccc;
  padding-right: 13vw;
}

.fontName .size {
  padding: 0;
  margin: 1.5vw 0;
  left: 50%;
  transform: translateX(-35%);
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 40%;
  height: .3vh;
  outline: none;
  background: var(--greyple);
}

.fontName .size::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1vw; 
  height: 1vw; 
  background: var(--fade-red); 
  cursor: pointer; 
  border-radius: 50%;
}

.fontName .size::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translate(-100%);
}

.fontName .size::-moz-range-thumb {
  width: 1vw; 
  height: 1vw; 
  background: var(--fade-red); 
  cursor: pointer; 
  border-radius: 50%;
}

.fontPrev {
  position: relative;
  height: 14vw;
  width: 100%;
  font-size: 40px;
  color: #ccc;
}

.fontPrev .scrollerWrap {
  display: block;
}

.fontPrev .scroller {
  padding: 5vh;
}

.fontPrev .scroller:focus {
  outline: none;
}


#loading {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #111;
}

#content #loading {
  animation: fadeIn .5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 30vw;
  height: 25vw;
  background: url(../assets/main-logo.png) center/contain no-repeat;
}

#load::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  background: url(../assets/logo-white.png) center/contain no-repeat;
  animation: load 5s linear infinite;
}

@keyframes load {
  0% {
    opacity: .3;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

#message {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Hotel De Paris", sans-serif;
  font-size: 2vw;
  color: #ddd;
}

#gallOverlay #message {
  top: 70vh;
  transform: translate(-50%);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

#gallOverlay #message:hover {
  color: var(--blurple);
}

input:active, input:focus {
  outline: none;
}

input[name="submit"] {
  opacity: 0.5;
  transition: all .2s ease-in-out;
}

input[name="submit"]:hover {
  opacity: 1;
}

#feedback form,
#updates form {
  width: fit-content;
  margin-top: 2vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-left: 50%;
  transform: translateX(-50%);
}

#feedback textarea,
#updates textarea {
  width: 40vw;
  min-height: 30vh;
  margin-bottom: 2vh;
  padding: 2vh;
  border: .2vh solid rgb(203, 219, 248);
  background: #f1f1f1;
  color: #111;
  font-family: "Share", sans-serif;
  font-size: 2.5vh;
  transition: all .2s ease-in-out;
}

#feedback button,
#updates button {
  width: 16vw;
  padding: .5vh;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  font-family: "Hemera", sans-serif;
  color: #aaa;
  text-transform: lowercase;
  font-size: 4vh;
  border-radius: 40px;
  border: none;
  align-self: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

#feedback button:hover,
#updates button:hover {
  background: rgba(255, 255, 255, 0.3);
}

#feedback textarea:focus,
#feedback button:focus,
#feedback input:focus,
#updates textarea:focus,
#updates button:focus,
#updates input:focus {
  box-shadow: 0 0 1vh #aaa;
  outline: none;
}

#feedback textarea:active,
#feedback button:active,
#feedback input:active,
#updates textarea:active,
#updates button:active,
#updates input:active {
  outline: none;
}

#feedback input,
#updates input {
  margin-bottom: 2vh;
  padding: 1vh 2vh;
  border: .2vh solid rgb(203, 219, 248);
  background: #f1f1f1;
  color: #111;
  font-family: "Share", sans-serif;
  font-size: 2.5vh;
  width: 20vw;
  transition: all .2s ease-in-out;
}

#comments {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin-top: 6vh;
}

.commentContainer {
  flex: 1 1 auto;
  margin-bottom: 3vh;
}

.commentContainer .sender {
  font-weight: bolder;
  font-size: 2.7vh;
  margin: 0 2vh;
  padding: 0 0 2vh 2vh;
  border-bottom: .2vh dotted currentColor;
}

.commentContainer .sender span {
  font-weight: initial;
  font-style: italic;
  opacity: 0.8;
  font-size: 2vh;
}

.commentContainer .message {
  margin: 1vh 2vh;
  padding: 2vh;
}

.toFeedback {
  position: fixed;
  bottom: 6vh;
  right: 15vw;
  width: fit-content;
  padding: 1vh 2vh;
  background: rgba(255, 255, 255, 0.1);
  font-family: "Hemera", sans-serif;
  text-transform: lowercase;
  font-size: 3vh;
  border-radius: 40px;
  cursor: pointer;
  transition: background .2s ease-in-out;
  animation: popUp 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes popUp {
  from {
    margin-bottom: -10vh;
  }
}

.toFeedback:hover {
  background: rgba(255, 255, 255, 0.3);
}

@media all and (orientation:portrait) {
  body {
    touch-action: manipulation;
  }

  #load {
    width: 63vw;
    height: 37vw;
  }

  #message {
    font-size: 5vw;
  }

  #header {
    top: 0;
    height: 100%;
    width: 40vw;
    transform: translateX(-100%);
    background: rgba(51, 51, 51, 0.3);
    transition: all .5s ease-in-out;
  }

  #headerExit {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
  }

  #header.open {
    transform: translateX(0);
  }

  .scroller {
    overflow-x: hidden;
  }

  .logo {
    position: fixed;
    transform: none;
    top: 2%;
    left: 110%;
    height: 13vw;
    width: 22vw;
    transition: left .5s ease-in-out;
  }

  #header.open .logo {
    left: 21%;
  }

  #header.open .logo::after {
    opacity: 1;
    transition: all .5s ease-in-out;
  }

  .headerBar {
    top: 0;
    transform: none;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .headerBar.flex {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }

  .button {
    font-size: 4vh;
    text-align: center;
    height: fit-content;
    width: 100%;
    padding: 1.5vh 1vh;
    background: transparent;
  }

  .button:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #aaa;
  }

  .headerBar .button:first-child {
    margin-top: 18vw;
  }

  .headerBar span {
    display: none;
  }

  .copyrighted-badge img {
    height: unset !important;
    width: 30vw;
  }

  #content {
    top: 19vw;
    height: calc(100% - 19vw);
  }

  img.thineLogo {
    width: 55vw;
  }

  h1.header {
    width: 87vw;
    font-size: 8vw;
    text-align: center;
    padding: 1vh;
  }

  h2 {
    font-size: 4.5vw;
  }

  h2.feedback {
    font-size: 5vw;
  }

  .body .scroller p,
  .body .scroller ol,
  .body .scroller ul,
  .body .scroller #comments {
    margin-left: 0;
    margin-right: 0;
  }

  .item {
    height: 44vw;
    width: 78vw;
  }

  .tooltip {
    max-width: 72vw;
  }

  .tooltip:after {
    border-width: 2vw;
  }

  #gallOverlay img {
    max-width: 79vw;
  }

  .prev, .next {
    background-size: 8vw;
  }

  #code .choices {
    display: none;
  }

  #code h1.announce {
    position: fixed;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    font-size: 7vw;
    font-family: "Hemera", sans-serif;
    text-transform: lowercase;
  }

  #fonts textarea {
    height: 9vh;
    width: 82vw;
  }

  .fontContainer {
    height: 35vw;
    width: 74vw;
  }

  .fontName {
    height: 12vw;
    font-size: 7vw;
    line-height: 6vw;
  }

  .fontPrev {
    height: 22vw;
  }

  .fontName span {
    padding-right: 30vw;
  }

  .fontName .size {
    margin: 3.6vw 0;
  }

  .fontName .size::-webkit-slider-thumb {
    width: 2vh;
    height: 2vh;
  }

  #feedback textarea,
  #updates textarea {
    width: 86vw;
  }

  #feedback input,
  #updates input {
    width: 68vw;
  }

  #feedback button,
  #updates button {
    width: 30vw;
  }
}